<% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  
<%= form_for :dump, :url => {:action => "parse_csv"}, :html => {:multipart => true} do |f| %>
	<fieldset class="inputs">
		<legend><span>Select a CSV File</span></legend>
        <ol>
        <li class="datepicker input required stringish" >
        <%= f.select :model_name, options_for_select([["Select One", ""], "Movie","Review"]), :class => 'genForm_dropBox' %>
        </li>
			<li class="datepicker input required stringish" >
				<%= f.file_field :file %>
			</li>
		</ol>
	</fieldset>
	<fieldset class="actions">
		<li class="action input_action " id="daily_report_submit_action">
			<%= submit_tag 'Submit' %>
		</li>
	</fieldset>

<% end %>
