<%= form_tag(movie_index_path, :method => 'get') do %>

    <div class="field">
      <%= label_tag :actor, "Actor Search"%>
      <%= text_field_tag :actor%>
    </div>
    <div class="actions"><%= submit_tag "Search" %></div>
  <% end %>

  <table id="Movies">
    <tr>
      <th><%= "Movie Name" %></th>
      <th><%= "Description" %></th>
      <th><%= "Year" %></th>
      <th><%= "Director" %></th>
      <th><%= "Actor" %></th>
      <th><%= "Filming location" %></th>
      <th><%= "Country" %></th>

    </tr>
    <% @movies.each do |movie| %>
    <tr>
    <td><%= movie.movie %></td>
    <td><%= movie.description %></td>
    <td><%= movie.year %></td>
    <td><%= movie.director %></td>
    <td><%= movie.actor %></td>
    <td><%= movie.filming_location %></td>
    <td><%= movie.country %></td>

    </tr>  
     <% end %>


  </table>